# Server Configuration
PORT=8080
NODE_ENV=production

# Database Connection (MongoDB Atlas)
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/blood_bridge?retryWrites=true&w=majority

# JWT Token Security Secret
JWT_SECRET=your_jwt_super_secret_key_here

# Frontend Client URL (For CORS Whitelist)
CLIENT_URL=https://your-frontend-app.vercel.app
